@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-image {
  background-image: url("./images/fruits-bg.png"), url("./images/vector-bg.png");
  background-position: bottom right, bottom right;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1280px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .bg-image {
    background-image: url("./images/fruits-bg-tablet.png"),
      url("./images/vector-bg.png");
    background-size: 400px 400px, 400px 450px;
  }
}
